html {
    font-size: 18px;
}

body {
    /*font-size: 1.4rem;*/
    margin: 0;
    font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
    height: 100%;
}
.MuiIconButton-root.MuiButtonBase-root svg {
    font-size: min(1.5rem, 1.5em);
}
.MuiIconButton-root.MuiButtonBase-root {
    font-size: min(1.5rem, 2em);
    padding: 0.8em;
}
.memo-virtualScrollerContent-2 {
    overflow: initial !important;
}
